html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans';
  height: 100%;
  background-color: #1d1d1d;
  color: #fff;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
  background-color: #1d1d1d;
  padding: 50px;
}

.aligned-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
