.button {
  width: 320px;
  padding: 14px 36px;
  font-size: 18px;
  font-family: 'DM Sans';
  background-color: inherit;
  color: inherit;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.233);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
