.layout {
  height: calc(100% - 120px);
  margin-left: 120px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  background-color: #121212;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin: 50px 0;
  }
}

.avatar {
  border-radius: 50%;
}

.appbar {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 40px;
  p {
    font-size: 20px;
  }
}

.menu {
  display: flex;
  align-items: center;
  :last-child {
    margin-left: 24px;
  }
}
